// Định nghĩa các chân GPIO cho matrix bàn phím của bạn
// Cần thay đổi cho phù hợp với PCB Mochi40 và cách bạn nối dây vào nice!nano
&kscan0 {
    col-gpios
        = <&gpio0 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)> // Col 0
        , <&gpio0 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)> // Col 1
        , <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)> // Col 2
        , <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)> // Col 3
        , <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)> // Col 4
        , <&gpio0 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)> // Col 5
        , <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)> // Col 6
        , <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)> // Col 7
        , <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)> // Col 8
        , <&gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)> // Col 9
        , <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)> // Col 10
        ;
    row-gpios
        = <&gpio0 12 GPIO_ACTIVE_HIGH> // Row 0
        , <&gpio0 13 GPIO_ACTIVE_HIGH> // Row 1
        , <&gpio0 14 GPIO_ACTIVE_HIGH> // Row 2
        , <&gpio0 15 GPIO_ACTIVE_HIGH> // Row 3
        ;
};

// Cấu hình Encoder (EC11) - Điều chỉnh các chân GPIO nếu cần
&gpio0 {
    encoder_a_pin: encoder_a_pin {
        gpio-hog;
        gpios = <29 GPIO_ACTIVE_HIGH>; // CLK (D5 trên nice!nano)
        input;
        pull-up;
    };
    encoder_b_pin: encoder_b_pin {
        gpio-hog;
        gpios = <31 GPIO_ACTIVE_HIGH>; // DT (D6 trên nice!nano)
        input;
        pull-up;
    };
    encoder_sw_pin: encoder_sw_pin {
        gpio-hog;
        gpios = <2 GPIO_ACTIVE_LOW>; // SW (D7 trên nice!nano)
        input;
        pull-up;
    };
};

&encoder_0 {
    status = "okay";
    gpios = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
            <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
};

// Cấu hình OLED SSD1306 - Điều chỉnh nếu địa chỉ I2C hoặc kích thước khác
&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>; // Địa chỉ I2C phổ biến
        width = <128>;
        height = <64>; // Hoặc 32 nếu bạn dùng loại 128x32
        multiplex-ratio = <63>; // 63 cho màn hình 64 pixel, 31 cho 32 pixel
        segment-remap;
        com-alt-remap;
        com-invert-disable;
    };
};
Add Mochi40 EC11 OLED shield config and keymap
